<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/dashboard">
            SkillSwap 🚀
        </a>

        <div class="ms-auto">

            <a href="/dashboard" class="btn btn-outline-light me-2">
                Dashboard
            </a>

            <a href="/skills" class="btn btn-outline-light me-2">
                Browse Skills
            </a>

            <a href="/profile" class="btn btn-outline-light me-2">
                Profile
            </a>

            <a href="/my-requests" class="btn btn-outline-light me-2">
                My Requests
            </a>

            <a href="/requests" class="btn btn-warning me-2">
                Requests
            </a>
            <a href="/inbox" class="btn btn-info me-2">
                Inbox
            </a>

            <a href="/" class="btn btn-danger">
                Logout
            </a>

        </div>

    </div>
</nav>